
    <button class="toggleBtn btn-dark" (click)="changeLayout()">
        Menu <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hdd-stack" viewBox="0 0 16 16">
            <path d="M14 10a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1h12zM2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2z"/>
            <path d="M5 11.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM14 3a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
            <path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
          </svg>
      </button>
      
      <hr>
      <hr>
      <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow" >
        <button class="sidebar-close" (click)="changeLayout()">x</button>
        <div class="sidebar-content">
            <h2 class="set-align"></h2>
            <div class="set-sidebar-text" routerLink="/dashboard">Dashbord</div>
            <div class="set-sidebar-text" routerLink="/home">Home</div>
            <div class="set-sidebar-text" routerLink="/profile">Profile</div>
            <div class="set-sidebar-text" routerLink="/message">Message</div>
            <div class="set-sidebar-text" routerLink="/help">Help</div>
            <div class="set-sidebar-text" routerLink="/setting">Setting</div>
            <div class="set-sidebar-text" routerLink="/signout">Sign Out</div>
        </div>
      </div>
      <div class="ngContentClass" [class.contentMove]="moveSideNav">
        <ng-content></ng-content>
      </div>

